.homeContainer {
    background: $primaryColor;
  }
  
  .navPusher {
    background: $secondaryColor;
  }
  
  .projectTitle {
    color: #fff;
  }
  
  .homeContainer .homeWrapper {
    padding: 6em 10px;
  }
  
  .button {
    border: 1px solid #fff;
    color: #fff;
  }
  
  .button:hover {
    background: #fff;
    color: $primaryColor;
  }
  
  body {
    font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
  }
  
  .navigationSlider .slidingNav ul {
    color: $primaryColor;
  }
  
  .navigationSlider .slidingNav ul li:hover {
    color: #fff;
  }
  
  .navigationSlider .slidingNav ul li a {
    font-size: 1em;
    font-weight: bold;
    padding: 15px;
  }
  