{
  "redex" : {
    "passes" : [
      "ResolveRefsPass",
      "AnonymousClassMergingPass",
      "MethodInlinePass",
      "RegAllocPass",
      "MakePublicPass",
      "LocalDcePass",
      "InterDexPass"
    ]
  },
  "AnonymousClassMergingPass" : {
    "global_min_count" : 5,
    "include_primary_dex" : true,
    "exclude" : [
      "Ljava/util/Comparator;",
      "Ljava/util/Iterator;",
      "Ljava/util",
      "Lcom/google/common/graph/",
      "Landroidx/test/",
      "Lorg/junit/"
    ]
  },
  "inliner": {
    "throws": true,
    "multiple_callers": true,
    "no_inline_annos" : [
      "Lcom/facebook/redextest/DoNotStrip;"
    ]
  },
  "RegAllocPass" : {
    "live_range_splitting": false
  },
  "InterDexPass" : {
    "static_prune" : false,
    "normal_primary_dex" : true
  },
  "ir_type_checker": {
    "run_after_each_pass" : true,
    "verify_moves" : true
  }
}
