{
  "redex" : {
    "passes" : [
      "MethodInlinePass",
      "RegAllocPass"
    ]
  },
  "no_devirtualize_annos" : [                                                 
     "Lcom/facebook/annotations/DoNotDevirtualize;"                         
  ],
  "inliner": {
    "no_inline_annos" : [
      "Lcom/fasterxml/jackson/databind/annotation/JsonDeserialize;"
    ],
    "force_inline_annos" : [
      "Lcom/facebook/redexinline/ForceInline;"
    ],
    "blocklist": [
      "Landroid/support/test/internal/runner/TestLoader;",
      "Landroidx/test/internal/runner/TestLoader;"
    ]
  },
  "opt_decisions" : {
    "enable_logs": true
  }
}
