{
  "redex" : {
    "passes" : [
      "ResolveRefsPass",
      "ClassMergingPass",
      "RegAllocPass",
      "LocalDcePass",
      "InterDexPass"
    ]
  },
  "ClassMergingPass" : {
    "models" : [
      {
        "enabled" : true,
        "name" : "Simple",
        "class_name_prefix" : "Simple",
        "roots" : [
          "Lcom/facebook/redextest/Base;",
          "Lcom/facebook/redextest/SecondBase;",
          "Lcom/facebook/redextest/ThirdBase;"
        ],
        "include_primary_dex" : true
      }
    ],
    "process_method_meta" : true,
    "use_stable_shape_names" : true
  },
  "RegAllocPass" : {
    "live_range_splitting": false
  },
  "InterDexPass" : {
    "static_prune" : false,
    "normal_primary_dex" : true
  },
  "ir_type_checker": {
    "run_after_each_pass" : true,
    "verify_moves" : true
  }
}
