{
  "redex" : {
    "passes" : [
      "ResolveRefsPass",
      "ClassMergingPass",
      "RegAllocPass"
    ]
  },
  "ClassMergingPass" : {
    "models" : [
      {
        "enabled" : true,
        "name" : "CoroutineContinuationImplMerging",
        "class_name_prefix" : "CoroutineContinuationImplMerging",
        "roots" : [
          "Lkotlin/coroutines/jvm/internal/BaseContinuationImpl;"
        ],
        "include_primary_dex" : true
      }
    ]
  },
  "RegAllocPass" : {
    "live_range_splitting": false
  },
  "InterDexPass" : {
    "static_prune" : false,
    "normal_primary_dex" : true
  },
  "ir_type_checker": {
    "run_after_each_pass" : true,
    "verify_moves" : true
  }
}
