{
  "redex" : {
    "passes" : [
      "ResolveRefsPass",
      "ClassMergingPass",
      "MethodInlinePass",
      "RegAllocPass",
      "LocalDcePass",
      "InterDexPass"
    ]
  },
  "ClassMergingPass" : {
    "process_method_meta" : true,
    "models" : [
      {
        "enabled" : true,
        "name" : "Advanced",
        "class_name_prefix" : "Advanced",
        "type_tag_config" : "input-pass-type-tag-to-ctor",
        "type_like_string_config": "replace",
        "roots" : [
          "Lcom/facebook/redextest/Base;"
        ],
        "const_class_safe_types" : [
          "Lcom/facebook/redextest/ModelConverter;"
        ],
        "include_primary_dex" : true
      }
    ]
  },
  "inliner": {
    "throws": true,
    "multiple_callers": true,
    "no_inline_annos" : [
      "Lcom/facebook/redextest/DoNotStrip;"
    ]
  },
  "RegAllocPass" : {
    "live_range_splitting": false
  },
  "InterDexPass" : {
    "static_prune" : false,
    "normal_primary_dex" : true
  },
  "ir_type_checker": {
    "run_after_each_pass" : true,
    "verify_moves" : true
  }
}
