{
  "redex" : {
    "passes" : [
      "ClassMergingPass",
      "RegAllocPass",
      "InterDexPass"
    ]
  },
  "ClassMergingPass" : {
    "skip_anonymous_classes" : true,
    "models" : [
      {
        "enabled" : true,
        "name" : "AnonObj",
        "class_name_prefix" : "AnonObj",
        "max_count" : 5,
        "roots" : [
          "Lcom/facebook/redextest/AbstractBase;"
        ],
        "include_primary_dex" : true
      }
    ]
  },
  "InterDexPass" : {
    "normal_primary_dex" : true
  },
  "ir_type_checker": {
    "run_after_each_pass" : true,
    "verify_moves" : true
  }
}
