{
  "redex" : {
    "passes" : [
      "MethodInlinePass",
      "ConstantPropagationPass",
      "RegAllocPass"
    ]
  },
  "ConstantPropagationPass": {
    "replace_moves_with_consts": true
  },
  "inliner": {
    "force_inline_annos" : [
      "Lcom/facebook/redexinline/ForceInline;"
    ]
  }
}
