{
  "TransformConstClassBranchesPass": {
    "consider_external_classes": true,
    "min_cases": 2,
    "string_tree_integrity_method": "Lcom/facebook/common/dextricks/StringTreeSet;.searchMap:(Ljava/lang/String;Ljava/lang/String;III)I",
    "string_tree_lookup_method": "Lcom/facebook/common/dextricks/StringTreeSet;.searchMap:(Ljava/lang/String;Ljava/lang/String;I)I"
  },
  "redex" : {
    "passes" : [
      "TransformConstClassBranchesPass",
      "RegAllocPass"
    ]
  }
}
