
{
  "redex" : {
    "passes" : [
      "ResolveRefsPass",
      "DedupResourcesPass",
      "RegAllocPass"
    ]
  },
  "DedupResourcesPass": {
      "disallowed_resources": [
          "fbui_text_size_large"
      ],
      "disallowed_types": [
          "array",
          "styleable",
          "id",
          "plurals",
          "string"
      ]
  },
  "compute_xml_reachability": true,
  "finalize_resource_table": true,
  "resources": {
    "customized_r_classes": [
      "Lcom/facebook/R;"
    ]
  }
}
