{
  "redex" : {
    "passes" : [
      "OptimizeEnumsPass",
      "RemoveEmptyClassesPass",
      "RegAllocPass"
    ]
  },
  "OptimizeEnumsPass" : {
    "max_enum_size" : 4,
    "break_reference_equality_allowlist" : ["Lredex/PURE_SCORE;"]
  },
  "ir_type_checker": {
    "run_after_passes" : [
      "OptimizeEnumsPass"
    ],
    "verify_moves" : true
  }
}
