{
  "redex" : {
    "passes" : [
      "ResolveRefsPass",
      "AnonymousClassMergingPass",
      "RegAllocPass",
      "MakePublicPass",
      "LocalDcePass",
      "InterDexPass"
    ]
  },
  "AnonymousClassMergingPass" : {
    "global_min_count" : 5,
    "use_stable_shape_names" : true,
    "hot_cold_grouping" : true
  },
  "baseline_profile" : {
    "default" : {
      "deep_data_interaction_config" : {
        "ColdStart" : {
          "call_threshold" : 1,
          "classes" : true,
          "name" : "ColdStart",
          "post_startup" : true,
          "startup" : true,
          "threshold" : 20
        }
      }
    }
  },
  "RegAllocPass" : {
    "live_range_splitting": false
  },
  "InterDexPass" : {
    "static_prune" : false,
    "normal_primary_dex" : true
  },
  "ir_type_checker": {
    "run_after_each_pass" : true,
    "verify_moves" : true
  }
}
