{
  "redex" : {
    "passes" : [
      "RemoveUnreachablePass",
      "InstrumentPass",
      "BranchPrefixHoistingPass",
      "RegAllocPass",
      "CopyPropagationPass",
      "LocalDcePass",
      "DedupBlocksPass",
      "ReduceGotosPass"
    ]
  },
  "InstrumentPass" : {
    "instrumentation_strategy": "basic_block_tracing",
    "analysis_class_name": "Lcom/facebook/redextest/InstrumentBasicBlockAnalysis;",
    "analysis_method_names": ["onMethodBegin", "onMethodExit", "onBlockHit", "onNonLoopBlockHit"],
    "blocklist" : [
    ],
    "allowlist" : [
      "Lcom/facebook/redextest/InstrumentBasicBlockTarget;.testFunc*"
    ],
    "num_stats_per_method": 0,
    "max_num_blocks": 224
  },
  "ir_type_checker": {
    "run_after_each_pass" : true,
    "verify_moves" : true
  },
  "instrument_pass_enabled": true
}
