{
  "redex" : {
    "passes" : [
      "InstrumentPass",
      "RegAllocPass"
    ]
  },
  "InstrumentPass" : {
    "analysis_class_name": "Lcom/facebook/redextest/InstrumentBBAnalysis;",
    # "Lcom/facebook/redextest/InstrumentAnalysis;" or
    # "Lcom/facebook/redextest/InstrumentBBAnalysis;"
    "num_stats_per_method": 1,
    "method_index_file_name": "instrument-methods-idx.txt",
    "instrumentation_strategy": "basic_block_tracing",
    # "method_tracing" or "basic_block_tracing"
    "on_instrument_begin_name": "on_bb_begin",
    # "onMethodBegin" or "on_bb_begin"
    "blacklist" : [
      "Lorg/fest/",  # It matches "^Lorg/fest/*" or "^Lorg/fest;".
      "Lorg/junit/",
      "Lorg/hamcrest/",
      "Ljunit/",
      "Lsun/misc/",
      "Landroid/test/",
      "Landroid/app/",
      "Landroid/support/test/",
      "Lcom/facebook/ultralight/",
      "Lcom/facebook/soloader/",
      "Lcom/facebook/debug/",
      "Lcom/facebook/common/",
      "Lcom/facebook/infer/",
      "Lcom/facebook/jni/",
      "Lcom/facebook/xplat/",
      "Lcom/facebook/secure/",
      "Lcom/facebook/acra/",
      "Lcom/facebook/redex/test/instr/",
      "Ljavax/annotation/",
      "Lcom/facebook/redextest/InstrumentTestClass1/"
    ],
    "whitelist" : [
      "Lcom/facebook/redextest/InstrumentTarget;func1",
      "Lcom/facebook/redextest/InstrumentTestClass1;it1Func2"
    ]
  }
}
