{
  "redex" : {
    "passes" : [
      "InstrumentPass",
      "RegAllocPass"
    ]
  },
  "InstrumentPass" : {
    "analysis_class_name": "Lcom/facebook/redextest/InstrumentAnalysis;",
    "analysis_method_name": "onMethodBegin",
    "instrumentation_strategy": "simple_method_tracing",
    "num_stats_per_method": 1,
    "blocklist" : [
      "Lorg/fest/",  # It matches "^Lorg/fest/*" or "^Lorg/fest;".
      "Lorg/junit/",
      "Lorg/hamcrest/",
      "Ljunit/",
      "Lsun/misc/",
      "Landroid/test/",
      "Landroid/app/",
      "Landroid/support/test/",
      "Landroidx/test/",
      "Lcom/facebook/ultralight/",
      "Lcom/facebook/soloader/",
      "Lcom/facebook/debug/",
      "Lcom/facebook/common/",
      "Lcom/facebook/infer/",
      "Lcom/facebook/jni/",
      "Lcom/facebook/xplat/",
      "Lcom/facebook/secure/",
      "Lcom/facebook/acra/",
      "Lcom/facebook/redex/test/instr/",
      "Ljavax/annotation/",
      "Lcom/facebook/redextest/InstrumentTestClass1/"
    ],
    "allowlist" : [
    ]
  },
  "instrument_pass_enabled": true
}
