{
  "redex" : {
    "passes" : [
      "InstrumentPass",
      "RegAllocPass"
    ]
  },
  "InstrumentPass" : {
    "analysis_class_name": "Lcom/facebook/redextest/InstrumentAnalysis;",
    "onMethodBegin_name": "onMethodBegin",
    "num_stats_per_method": 1,
    "method_index_file_name": "instrument-methods-idx.txt",
    "exclude" : [
      "Lorg/fest/",  # It matches "^Lorg/fest/*" or "^Lorg/fest;".
      "Lorg/junit/",
      "Lorg/hamcrest/",
      "Ljunit/",
      "Lsun/misc/",
      "Landroid/test/",
      "Landroid/app/",
      "Landroid/support/test/",
      "Lcom/facebook/ultralight/",
      "Lcom/facebook/soloader/",
      "Lcom/facebook/debug/",
      "Lcom/facebook/common/",
      "Lcom/facebook/infer/",
      "Lcom/facebook/jni/",
      "Lcom/facebook/xplat/",
      "Lcom/facebook/secure/",
      "Lcom/facebook/acra/",
      "Lcom/facebook/redex/test/instr/",
      "Ljavax/annotation/"
    ]
  }
}
