{
  "redex" : {
    "passes" : [
      "InstrumentPass",
      "RegAllocPass"
    ]
  },
  "InstrumentPass" : {
    "instrumentation_strategy": "basic_block_tracing",
    "analysis_class_name": "Lcom/facebook/redextest/InstrumentBasicBlockAnalysis;",
    "analysis_method_name": "onMethodExitBB",
    "blacklist" : [
    ],
    "whitelist" : [
    #  "Lcom/facebook/redextest/InstrumentBasicBlockTarget/"
    ],
    "metadata_file_name": "instrument-metadata.txt",
    "num_stats_per_method": 0
  },
  "ir_type_checker": {
    "run_after_each_pass" : true,
    "polymorphic_constants" : false,
    "verify_moves" : true
  }
}
