{
  "redex" : {
    "passes" : [
      "InstrumentPass",
      "RegAllocPass"
    ]
  },
  "InstrumentPass" : {
    "analysis_class_name": "Lcom/facebook/redextest/InstrumentBBAnalysis;",
    "method_index_file_name": "instrument-methods-idx.txt",
    "instrumentation_strategy": "basic_block_tracing",
    "on_instrument_begin_name": "on_bb_begin",
    "whitelist" : ["Lcom/facebook/redextest/InstrumentBBTarget/"]
  }
}
