{
  "redex" : {
    "passes" : [
      "InstrumentPass",
      "RegAllocPass"
    ]
  },
  "InstrumentPass" : {
    "instrumentation_strategy": "basic_block_tracing",
    "analysis_class_name": "Lcom/facebook/redextest/InstrumentBasicBlockAnalysis;",
    "analysis_method_name": "onBasicBlockBegin",
    "blacklist" : [
    ],
    "whitelist" : [
      "Lcom/facebook/redextest/InstrumentBasicBlockTarget/"
    ],
    "metadata_file_name": "instrument-metadata.txt",
    "num_stats_per_method": 0
  }
}
