{
  "redex" : {
    "passes" : [
      "InterproceduralConstantPropagationPass",
      "LocalDcePass",
      "RegAllocPass"
    ]
  },
  "InterproceduralConstantPropagationPass" : {
    "max_heap_analysis_iterations": 5,
    "create_runtime_asserts": false,
    "include_virtuals": true,
    "replace_moves_with_consts": true,
    "use_multiple_callee_callgraph": true
  },
  "create_init_class_insns": false
}
