{
    "redex": {
        "passes": [
            "AnnoKillPass",
            "RemoveUnreachablePass",
            "RemoveRedundantCheckCastsPass",
            "AnnoKillPass",
            "MethodInlinePass",
            "KotlinObjectInlinerPass",
            "LocalDcePass",
            "RemoveUnreachablePass",
            "RegAllocPass"
        ]
    },
    "AnnoKillPass" : {
        "only_force_kill" : true,
        "force_kill_annos" : [
            "Ldalvik/annotation/EnclosingClass;",
            "Ldalvik/annotation/EnclosingMethod;",
            "Ldalvik/annotation/InnerClass;",
            "Ldalvik/annotation/MemberClasses;",
            "Ldalvik/annotation/Signature;",
            "Ldalvik/annotation/SourceDebugExtension;",
            "Ldalvik/annotation/Throws;"
        ]
    }
}
