{
    "redex": {
        "passes": [
            "RemoveUnreachablePass",
            "RemoveRedundantCheckCastsPass",
            "AnnoKillPass",
            "MethodInlinePass",
            "KotlinObjectInlinerPass",
            "LocalDcePass",
            "RemoveUnreachablePass",
            "RegAllocPass"
        ]
    }
}