{
    "GlobalTypeAnalysisPass": {
        "max_global_analysis_iteration": 3
    },
    "RegAllocPass": {},
    "redex": {
        "passes": [
            "RemoveUnreachablePass",
            "RemoveRedundantCheckCastsPass",
            "GlobalTypeAnalysisPass",
            "RegAllocPass"
        ]
    }
}