{
  "redex" : {
    "passes" : [
      "MethodInlinePass",
      "RegAllocPass"
    ]
  },
  "MethodInlinePass": {
    "use_liveness" : true,
    "no_inline_annos" : [
      "Lcom/fasterxml/jackson/databind/annotation/JsonDeserialize;"
    ],
    "force_inline_annos" : [
      "Lcom/facebook/redexinline/ForceInline;"
    ],
    "black_list": [
      "Landroid/support/test/internal/runner/TestLoader;",
      "Landroidx/test/internal/runner/TestLoader;"
    ]
  },
  "opt_decisions" : {
    "enable_logs": true,
    "output_file_name": "opt-decisions.json"
  }
}