{
  "redex" : {
    "passes" : [
      "MethodInlinePass",
      "WriteBarrierLoweringPass",
      "RegAllocPass"
    ]
  },
  "no_devirtualize_annos" : [
     "Lcom/facebook/annotations/DoNotDevirtualize;"
  ],
  "inliner": {
    "relaxed_init_inline": true,
    "no_inline_annos" : [
      "Lcom/fasterxml/jackson/databind/annotation/JsonDeserialize;"
    ],
    "force_inline_annos" : [
      "Lcom/facebook/redexinline/ForceInline;"
    ],
    "blocklist": [
      "Landroid/support/test/internal/runner/TestLoader;",
      "Landroidx/test/internal/runner/TestLoader;"
    ]
  }
}
