{
  "redex" : {
    "passes" : [
      "ResolveRefsPass",
      "ObfuscateResourcesPass",
      "RegAllocPass"
    ]
  },
  "ObfuscateResourcesPass": {
      "allow_types_prefixes": [
        "color",
        "dimen"
      ],
      "keep_resource_prefixes": [
          "unused_",
          "welcome_text_size",
          "hex_or_file"
      ],
      "do_not_obfuscate_elements": [
        "com.fb.bundles.WickedCoolButton"
      ],
      "xml_obfuscation_allowed_types": [
        "drawable",
        "layout"
      ],
      "obfuscate_resource_name" : true,
      "obfuscate_resource_file": false,
      "obfuscate_xml_attributes": true
  },
  "compute_xml_reachability": true,
  "finalize_resource_table": true
}
