{
  "redex" : {
    "passes" : [
      "ResolveRefsPass",
      "ObfuscateResourcesPass",
      "RegAllocPass"
    ]
  },
  "ObfuscateResourcesPass": {
      "allow_types_prefixes": [
        "color",
        "dimen"
      ],
      "keep_resource_prefixes": [
          "unused_",
          "welcome_text_size",
          "hex_or_file"
      ],
      "do_not_obfuscate_file": [
          "res/drawable-mdpi-v4/x_prickly.png",
          "res/layout/activity_main.xml"
      ],
      "obfuscate_resource_name" : true,
      "obfuscate_id_name": true,
      "keep_resource_names_from_string_literals": true,
      "code_references_okay_to_obfuscate": [
        "Landroidx/test/internal/runner/TestSize;",
        "Lorg/kxml2/",
        "Lcom/fb/bundles/WickedCoolButton;.typeToName"
      ],
      "obfuscate_xml_attributes": false
  },
  "resources": {
    "canonical_entry_types": [
      "id"
    ]
  },
  "compute_xml_reachability": true,
  "finalize_resource_table": true
}
