{
  "redex" : {
    "passes" : [
      "RemoveUnreachablePass",
      "ResolveRefsPass",
      "OptimizeEnumsPass",
      "LocalDcePass",
      "RemoveUnreachablePass",
      "RegAllocPass"
    ]
  },
  "ResolveRefsPass" : {
    "excluded_externals" : [
      "Landroid/os/BaseBundle",
      "Ljava/lang/reflect/Executable;"
    ]
  },
  "ir_type_checker": {
    "run_after_passes" : [
      "OptimizeEnumsPass"
    ],
    "verify_moves" : true
  },
  "create_init_class_insns": false
}
