{
  "redex" : {
    "passes" : [
      "RemoveUnreachablePass",
      "ResolveRefsPass",
      "OptimizeEnumsPass",
      "LocalDcePass",
      "RemoveUnreachablePass",
      "RegAllocPass"
    ]
  },
  "ir_type_checker": {
    "run_after_passes" : [
      "OptimizeEnumsPass"
    ],
    "verify_moves" : true
  }
}
