
{
  "redex" : {
    "passes" : [
      "ResolveRefsPass",
      "OptimizeResourcesPass",
      "RegAllocPass"
    ]
  },
  "OptimizeResourcesPass": {
    "assume_reachable_prefixes": [
        "keep_me_"
    ],
    "delete_unused_files": true
  },
  "compute_xml_reachability": true,
  "finalize_resource_table": true,
  "resources": {
    "customized_r_classes": [
      "Lcom/facebook/R;"
    ]
  }
}
