{
  "ResourcesInliningPass": {
    "resource_type_names": ["bool", "color", "integer"],
    "resource_entry_names": ["string/main_text"]
  },
  "MaterializeResourceConstantsPass": {
    "replace_const_instructions": true
  },
  "redex" : {
    "passes" : [
      "MaterializeResourceConstantsPass",
      "ResourcesInliningPass",
      "LowerResourceConstantsPass",
      "RegAllocPass"
    ]
  }
}
