{
  "redex" : {
    "passes" : [
      # Add CSE to remove redundant field reads in enum <clinit>,
      # so that the only enum field reads are from annotations in the Java code.
      "CommonSubexpressionEliminationPass",
      "RemoveUnusedFieldsPass",
      "RemoveUnreachablePass",
      "InitClassLoweringPass",
      "RegAllocPass"
    ]
  },
  "RemoveUnusedFieldsPass": {
    "blocklist_types": ["Ljava/lang/String;"]
  }
}
