{
  "redex" : {
    "passes" : [
      "RemoveBuildersPass",
      "AnnoKillPass",
      "RemoveUnreachablePass",
      "RegAllocPass"
    ]
  },
  "RegAllocPass" : {
    "live_range_splitting": false
  },
  "AnnoKillPass" : {
    "only_force_kill" : true,
    "force_kill_annos" : [
        "Ldalvik/annotation/EnclosingClass;",
        "Ldalvik/annotation/EnclosingMethod;",
        "Ldalvik/annotation/InnerClass;",
        "Ldalvik/annotation/MemberClasses;",
        "Ldalvik/annotation/Signature;",
        "Ldalvik/annotation/SourceDebugExtension;",
        "Ldalvik/annotation/Throws;"
    ]
  },
  "ir_type_checker": {
    "run_after_each_pass" : true,
    "verify_moves" : true
  }
}
