{
  "redex" : {
    "passes" : [
      "BridgeSynthInlinePass",
      "AnnoKillPass",
      "RemoveUnreachablePass",
      "AccessMarkingPass",
      "ResolveRefsPass",
      "PeepholePass",
      "MethodDevirtualizationPass",
      "RemoveRedundantCheckCastsPass",
      "LocalDcePass",
      "RemoveBuilderPatternPass",
      "ConstantPropagationPass",
      "LocalDcePass",
      "RemoveUnreachablePass",
      "RegAllocPass"
    ]
  },
  "RemoveBuilderPatternPass" : {
    "roots" : [
      "Ljava/lang/Object;"
    ]
  },
  "ResolveRefsPass" : {
    "excluded_externals" : [
      "Landroid/os/BaseBundle",
      "Ljava/lang/reflect/Executable;"
    ]
  },
  "AnnoKillPass" : {
    "only_force_kill" : true,
    "force_kill_annos" : [
        "Ldalvik/annotation/EnclosingClass;",
        "Ldalvik/annotation/EnclosingMethod;",
        "Ldalvik/annotation/InnerClass;",
        "Ldalvik/annotation/MemberClasses;",
        "Ldalvik/annotation/Signature;",
        "Ldalvik/annotation/SourceDebugExtension;",
        "Ldalvik/annotation/Throws;"
    ]
  },
  "ir_type_checker" : {
    "run_after_each_pass" : true,
    "verify_moves" : true
  },
  "inliner": {
  }
}
