{
  "redex" : {
    "passes" : [
      "RemoveUnusedArgsPass",
      "RegAllocPass"
    ]
  },
  "assume_regalloc" : true,
  "opt_decisions" : {
    "enable_logs": true
  },
  "RemoveUnusedArgsPass": {
    "blocklist": [
      "Lorg/junit/",
      "Landroid/support/test/",
      "Landroidx/test/",
      "Ljunit/"
    ]
  }
}
