{
  "redex" : {
    "passes" : [
      "RemoveInterfacePass",
      "RegAllocPass",
      "InterDexPass"
    ]
  },
  "RemoveInterfacePass": {
    "include_primary_dex" : true,
    "interface_roots": [
      "Lcom/facebook/redextest/RootInterface;",
      "Lcom/facebook/redextest/GraphQLModel;"
    ],
    "interface_dispatch_anno" : "Lcom/facebook/redex/annotations/InterfaceDispatch;"
  },
  "InterDexPass" : {
    "static_prune" : false,
    "normal_primary_dex" : true
  },
  "ir_type_checker": {
    "run_after_each_pass" : true,
    "verify_moves" : true
  }
}
