{
  "redex" : {
    "passes" : [
      "SynthPass",
      "RemoveUnreachablePass",
      "AccessMarkingPass",
      "ResolveRefsPass",
      "ReBindVRefsPass",
      "PeepholePass",
      "MethodDevirtualizationPass",
      "RemoveRedundantCheckCastsPass",
      "LocalDcePass",
      "RemoveBuilderPatternPass",
      "ConstantPropagationPass",
      "LocalDcePass",
      "RemoveUnreachablePass",
      "RegAllocPass"
    ]
  },
  "RemoveBuilderPatternPass" : {
    "roots" : [
      "Lcom/facebook/litho/Component$Builder;",
      "Ljava/lang/Object;"
    ]
  },
  "ResolveRefsPass" : {
    "excluded_externals" : [
      "Landroid/os/BaseBundle",
      "Ljava/lang/reflect/Executable;"
    ]
  },
  "ir_type_checker" : {
    "run_after_each_pass" : true,
    "verify_moves" : true
  }
}
