{
  "redex" : {
    "passes" : [
      "SynthPass",
      "ResolveRefsPass",
      "RemoveBuilderPatternPass",
      "ConstantPropagationPass",
      "LocalDcePass",
      "RemoveUnreachablePass",
      "RegAllocPass"
    ]
  },
  "RemoveBuilderPatternPass" : {
    "roots" : [
      "Lcom/facebook/litho/Component$Builder;",
      "Ljava/lang/Object;"
    ]
  },
  "ir_type_checker" : {
    "run_after_each_pass" : true,
    "verify_moves" : true
  }
}
