{
  "redex" : {
    "passes" : [
      "RenameClassesPassV2",
      "OriginalNamePass"
    ]
  },
  "RenameClassesPassV2" : {
    "class_rename" : "redex-class-rename-map.txt",
    "dont_rename_packages" : [
      "android/",
      "junit/",
      "org/fest/",
      "org/hamcrest/",
      "org/junit/"
    ]
  },
  "OriginalNamePass" : {
    "hierarchy_roots" : [
      "Lcom/facebook/redex/test/instr/RenameClassesTest;"
    ]
  },
  "proguard_map_output": "redex_pg_mapping.txt"
}
