{
"redex" : {
  "passes" : [
    "RenameClassesPassV2"
  ]
},
"RenameClassesPassV2" : {
  "class_rename" : "redex-class-rename-map.txt",

  "force_rename_hierarchies": [
    "Lcom/facebook/redex/test/instr/IForceRename;"
  ],

  "dont_rename_hierarchies": [
    "Ljava/lang/Object;"
  ]
},
"keep_packages": [
],
"keep_class_members" : [
],
"keep_annotations": [
],
"no_optimizations_annotations": [
],
"emit_locator_strings": true,
"proguard_map": "",
"proguard_map_output": "redex_pg_mapping.txt",
"coldstart_classes": "apps/fb4a/secondary_dex_head.list",
"coldstart_methods": "apps/fb4a/coldstart_methods.list",
"method_mapping": "method_mapping.txt"
}
