{
"redex" : {
  "passes" : [
    "RenameClassesPassV2",
    "MakePublicPass"
  ]
},
"RenameClassesPassV2" : {
  "force_rename_hierarchies": [
    "Lcom/facebook/redex/test/instr/IForceRename;",
    "Lcom/facebook/FooTextView;"
  ],
  "allow_layout_rename_packages": [
    "com/facebook/"
  ],
  "dont_rename_hierarchies": [
    "Ljava/lang/Object;"
  ]
},
"keep_packages": [
],
"no_optimizations_annotations": [
],
"emit_locator_strings": true,
"method_mapping": "method_mapping.txt"
}
