{
  "redex" : {
    "passes" : [
      "OriginalNamePass",
      "RenameClassesPassV2",
      "MakePublicPass"
    ]
  },
  "RenameClassesPassV2" : {
    "dont_rename_packages" : [
      "android/",
      "junit/",
      "org/fest/",
      "org/hamcrest/",
      "org/junit/"
    ]
  },
  "OriginalNamePass" : {
    "hierarchy_roots" : [
      "Lcom/facebook/redex/test/instr/RenameClassesTest;"
    ]
  }
}
