{
  "redex" : {
    "passes" : [
      "SimpleInlinePass"
    ]
  },
  "SimpleInlinePass": {
    "try_catch" : true,
    "callee_invoke_direct" : true,
    "super_same_class" : true,
    "virtual_same_class" : true,
    "use_liveness" : true,
    "no_inline_annos" : [
      "Lcom/fasterxml/jackson/databind/annotation/JsonDeserialize;"
    ],
    "force_inline_annos" : [
      "Lcom/facebook/redexinline/ForceInline;"
    ],
    "black_list": [
      "Landroid/support/test/internal/runner/TestLoader;"
    ]
  }
}

