{
  "redex" : {
    "passes" : [
      "SplitResourceTablesPass"
    ]
  },
  "SplitResourceTablesPass" : {
    "split_threshold": 3,
    "allowed_types" : [
      "dimen",
      "drawable",
      "layout",
      "plurals",
      "raw"
    ],
    "getidentifier_compat_method":
      "Lcom/facebook/resourcetest/ResourcesCompat;.getIdentifier:(Landroid/content/res/Resources;Ljava/lang/String;Ljava/lang/String;Ljava/lang/String;)I",
    "typename_compat_method":
      "Lcom/facebook/resourcetest/ResourcesCompat;.getResourceTypeName:(Landroid/content/res/Resources;I)Ljava/lang/String;"
  },
  "resources": {
    "customized_r_classes": [
      "Lcom/facebook/R;"
    ]
  }
}
