{
  "redex" : {
    "passes" : [
      "InterproceduralConstantPropagationPass",
      "ObjectSensitiveDcePass",
      "RegAllocPass"
    ]
  },
  "InterproceduralConstantPropagationPass" : {
    "reduce_stringbuilder_concat" : true,
    "merge_adjacent_constant_appends" : true,
    "replace_constant_stringbuilder_tostring_with_const_string" : true
  },
  "ir_type_checker" : {
    "run_after_passes" : [
      "InterproceduralConstantPropagationPass",
      "ObjectSensitiveDcePass"
    ],
    "verify_moves" : true
  }
}
