{
  "redex" : {
    "passes" : [
      "StripDebugInfoPass"
    ]
  },
  "StripDebugInfoPass" : {
    "drop_all_dbg_info" : "0",
    "drop_local_variables" : "1",
    "drop_line_numbers" : "0",
    "drop_src_files" : "0",
    "use_whitelist" : "0",
    "cls_whitelist" : [],
    "method_whitelist" : [],
    "drop_prologue_end" : "1",
    "drop_epilogue_begin" : "1",
    "drop_all_dbg_info_if_empty" : "1"
  }
}
