{
"redex" : {
  "passes" : [
    "ResolveRefsPass",
    "BridgeSynthInlinePass",
    "FinalInlinePass",
    "DelSuperPass",
    "SingleImplPass",
    "DelInitPass",
    "AnnoKillPass",
    "InterDexPass",
    "StaticReloPassV2",
    "RemoveEmptyClassesPass",
    "InterDexPass",
    "SetMagicFieldsPass",
    "ShortenSrcStringsPass",
    "RegAllocPass"
  ]
},
"ResolveRefsPass" : {
  "excluded_externals" : [
    "Landroid/os/BaseBundle",
    "Ljava/lang/reflect/Executable;"
  ]
},
"SingleImplPass": {
  "allowlist" : [],
  "package_allowlist" : [],
  "blocklist" : [
    "Lcom/facebook/content/BroadcastReceiverLike;",
    "Lcom/facebook/acra/LogBridge;",
    "Lcom/facebook/prefs/shared/FbSharedPreferences;",
    "Lcom/facebook/resources/HasOverridingResources;"
  ],
  "package_blocklist" : [
    "Lcom/fasterxml/jackson/",
    "Lcom/google/gson/",
    "Lcom/google/android/",
    "Landroid/support/",
    "Landroidx/",
    "Lcom/facebook/proxygen/"
  ]
},
"inliner": {
  "virtual" : 0,
  "no_inline_annos" : [
    "Lcom/fasterxml/jackson/databind/annotation/JsonDeserialize;"
  ],
  "force_inline_annos" : [
    "Lcom/facebook/redexinline/ForceInline;"
  ],
  "blocklist": [
    "Landroid/support/test/internal/runner/TestLoader;",
    "Landroidx/test/internal/runner/TestLoader;"
  ]
},
"FinalInlinePass" : {
  "remove_class_members" : [
    "Lcom/facebook/R$"
  ]
},
"AnnoKillPass" : {
 "keep_annos": [
   "Lcom/facebook/proguard/annotations/DoNotStrip;",
   "Lcom/facebook/common/internal/DoNotStrip;",
   "Lcom/facebook/common/json/AutoGenJsonDeserializer;",
   "Lcom/facebook/common/json/AutoGenJsonSerializer;",
   "Lcom/google/android/gms/common/annotation/KeepName;"
 ],
 "kill_annos" : [
   "Lcom/google/inject/BindingAnnotation;"
 ]
},
"ConstantPropagationPass" : {
  "blocklist": [
    "Lcom/facebook/graphql/deserializers/GraphQLNodeDeserializer;",
    "Lcom/facebook/graphql/model/GraphQLNode;",
    "Lcom/instagram/android/feed/adapter/helper/FeedUtil;"
  ]
},
"keep_packages": [
  "Lcom/fasterxml/jackson/",
  "Lgenerated_rootmodule/",
  "Lsecondary/",
  "Lcom/google/dexmaker/mockito/",
  "Lcom/facebook/testing",
  "Lcom/facebook/react/",
  "Linjector_autorequire_modules/",
  "Lcom/instagram/common/cache/image/"
],
"no_optimizations_annotations": [
  "Lcom/facebook/soloader/DoNotOptimize;",
  "Lcom/facebook/annotations/DoNotOptimize;"
],
"emit_locator_strings": true,
"method_mapping": "method_mapping.txt"
}
