{
  "redex" : {
    "passes" : [
      "MethodInlinePass",
      "RegAllocPass"
    ]
  },
  "inliner": {
    "true_virtual_inline" : true,
    "delete_any_candidate" : true,
    "no_inline_annos" : [
      "Lcom/fasterxml/jackson/databind/annotation/JsonDeserialize;"
    ],
    "force_inline_annos" : [
      "Lcom/facebook/redexinline/ForceInline;"
    ],
    "blocklist": [
      "Landroid/support/test/internal/runner/TestLoader;",
      "Landroidx/test/internal/runner/TestLoader;"
    ]
  }
}
