{
  "redex" : {
    "passes" : [
      "TypeErasurePass",
      "RegAllocPass",
      "LocalDcePass",
      "InterDexPass"
    ]
  },
  "TypeErasurePass" : {
    "models" : [
      {
        "enabled" : true,
        "name" : "Simple",
        "class_name_prefix" : "Simple",
        "root" : "Lcom/facebook/redextest/Base;",
        "include_primary_dex" : true
      }
    ]
  },
  "RegAllocPass" : {
    "live_range_splitting": "0"
  },
  "InterDexPass" : {
    "static_prune" : "0",
    "normal_primary_dex" : true
  },
  "ir_type_checker": {
    "run_after_each_pass" : true,
    "verify_moves" : true
  }
}
