{
  "redex" : {
    "passes" : [
      "TypedefAnnoCheckerPass",
      "TypedefAnnoOptPass",
      "RegAllocPass"
    ]
  },
  "TypedefAnnoCheckerPass" : {
    "int_typedef" : "Lcom/facebook/redex/annotations/SafeIntDef;",
    "str_typedef" : "Lcom/facebook/redex/annotations/SafeStringDef;"
  },
  "TypedefAnnoOptPass" : {
    "int_typedef" : "Lcom/facebook/redex/annotations/SafeIntDef;",
    "str_typedef" : "Lcom/facebook/redex/annotations/SafeStringDef;"
  }
}
