{
  "redex" : {
    "passes" : [
      "TypeErasurePass",
      "RegAllocPass",
      "InterDexPass"
    ]
  },
  "TypeErasurePass" : {
    "models" : [
      {
        "enabled" : true,
        "name" : "Grouping",
        "class_name_prefix" : "Grouping",
        "max_count" : 5,
        "roots" : [
          "Lcom/facebook/redextest/Base;",
          "Lcom/facebook/redextest/SecondBase;"
        ],
        "include_primary_dex" : true
      }
    ]
  },
  "RegAllocPass" : {
    "live_range_splitting": "0"
  },
  "InterDexPass" : {
    "static_prune" : false,
    "normal_primary_dex" : true
  },
  "ir_type_checker": {
    "run_after_each_pass" : true,
    "verify_moves" : true
  }
}
