{
  "redex" : {
    "passes" : [
      "TypeErasurePass",
      "MethodInlinePass",
      "RegAllocPass",
      "LocalDcePass",
      "InterDexPass"
    ]
  },
  "TypeErasurePass" : {
    "process_method_meta" : true,
    "merged_type_mappings" : "type-erasure-mappings.txt",
    "models" : [
      {
        "enabled" : true,
        "name" : "Advanced",
        "class_name_prefix" : "Advanced",
        "type_tag_config" : "input-pass-type-tag-to-ctor",
        "roots" : [
          "Lcom/facebook/redextest/Base;"
        ],
        "include_primary_dex" : true
      }
    ]
  },
  "MethodInlinePass": {
    "throws": true,
    "multiple_callers": true,
    "no_inline_annos" : [
      "Lcom/facebook/redextest/DoNotStrip;"
    ]
  },
  "RegAllocPass" : {
    "live_range_splitting": "0"
  },
  "InterDexPass" : {
    "static_prune" : "0",
    "normal_primary_dex" : true
  },
  "ir_type_checker": {
    "run_after_each_pass" : true,
    "verify_moves" : true
  }
}
