{
  "WrappedPrimitivesPass": {
    "wrappers": [
      {
        "wrapper": "Lcom/facebook/redex/MyLong;",
        "allowed_invokes": [
          {
            "Lcom/facebook/redex/Receiver;.getLong:(Lcom/facebook/redex/MyLong;)J": "Lcom/facebook/redex/Receiver;.getLong:(J)J"
          },
          {
            "Lcom/facebook/redex/Receiver;.peekLong:(Lcom/facebook/redex/MyLong;)J": "Lcom/facebook/redex/Receiver;.peekLong:(J)J"
          }
        ]
      }
    ]
  },
  "redex" : {
    "passes" : [
      "WrappedPrimitivesPass",
      "RegAllocPass"
    ]
  }
}
