{
  "WrappedPrimitivesPass": {
    "wrappers": [
      {
        "wrapper": "Lcom/facebook/redex/MyLong;",
        "allowed_invokes": [
          {
            "Lcom/facebook/redex/Receiver;.getLong:(Lcom/facebook/redex/MyLong;)J": "Lcom/facebook/redex/Receiver;.getLong:(J)J"
          },
          {
            "Lcom/facebook/redex/Receiver;.peekLong:(Lcom/facebook/redex/MyLong;)J": "Lcom/facebook/redex/Receiver;.peekLong:(J)J"
          },
          {
            "Lcom/facebook/redex/Safe;.getLong:(Lcom/facebook/redex/MyLong;)J": "Lcom/facebook/redex/Unsafe;.getLong:(J)J"
          },
          {
            "Lcom/facebook/redex/Safe;.peekLong:(Lcom/facebook/redex/MyLong;)J": "Lcom/facebook/redex/Unsafe;.peekLong:(J)J"
          }
        ]
      },
      {
        "wrapper": "Lcom/facebook/redex/DoesNotExist;",
        "allowed_invokes": [
          {
            "Lcom/facebook/redex/X;.x:(Lcom/facebook/redex/DoesNotExist;)V": "Lcom/facebook/redex/Y;.y:(I)V"
          }
        ]
      }
    ]
  },
  "InterproceduralConstantPropagationPass": {
    "create_runtime_asserts": false,
    "include_virtuals": true,
    "max_heap_analysis_iterations": 3,
    "replace_moves_with_consts": true,
    "use_multiple_callee_callgraph": true
  },
  "redex" : {
    "passes" : [
      "ResolveRefsPass",
      "InterproceduralConstantPropagationPass",
      "WrappedPrimitivesPass",
      "RegAllocPass",
      "ValidateWrappedPrimitivesPass"
    ]
  }
}
