{
"redex" : {
  "passes" : []
},
"SingleImplPass": {
  "allowlist" : [],
  "package_allowlist" : [],
  "blocklist" : [
    "Lcom/facebook/content/BroadcastReceiverLike;",
    "Lcom/facebook/acra/LogBridge;",
    "Lcom/facebook/prefs/shared/FbSharedPreferences;",
    "Lcom/facebook/resources/HasOverridingResources;",
    "Lcom/facebook/common/executors/ProvidesName;",
    "Lcom/facebook/base/broadcast/FbBroadcastManager;"
  ],
  "package_blocklist" : [
    "Lcom/fasterxml/jackson/",
    "Lcom/google/gson/",
    "Lcom/google/android/",
    "Landroid/support/",
    "Landroidx/",
    "Lcom/facebook/proxygen/"
  ]
},
"inliner": {
  "no_inline_annos" : [
    "Lcom/fasterxml/jackson/databind/annotation/JsonDeserialize;"
  ]
},
"ShortenSrcStringsPass" : {
  "filename_mappings" : "/tmp/filename_mappings.txt"
},
"FinalInlinePass" : {
  "remove_class_members" : [
    "Lcom/facebook/R$"
  ]
},
"AnnoKillPass" : {
 "remove_all_build_annos": true,
 "remove_all_system_annos": false,
 "remove_annos": [
   "Ldalvik/annotation/Signature;",
   "Ljavax/annotation/Nullable;",
   "Lcom/facebook/dracula/api/FieldOffset;",
   "Lcom/facebook/flatbuffers/ModelWithFlatBufferFormatHash;",
   "Lcom/facebook/flatbuffers/FragmentModelWithoutBridge;",
   "Lcom/facebook/common/json/AutoGenJsonDeserializer;",
   "Lcom/facebook/common/json/AutoGenJsonSerializer;",
   "Ljavax/annotation/Nonnull;",
   "Ljava/lang/annotation/Retention;"
 ],
 "blocklist": [
   "Lcom/fasterxml/jackson/core/type/TypeReference;",
   "Lcom/google/inject/TypeLiteral;"
 ],
 "blocklist_classes_containing_class_annotations": [
   "Lcom/fasterxml/jackson/databind/annotation/JsonDeserialize;",
   "Lcom/fasterxml/jackson/annotation/JsonIgnoreProperties;",
   "Lcom/fasterxml/jackson/annotation/JsonIgnore;",
   "Lcom/facebook/common/json/AutoGenJsonDeserializer;",
   "Lcom/facebook/common/json/AutoGenJsonSerializer;"
 ]
},
"InterDexPass" : {
  "static_prune" : false,
  "emit_canaries" : true
},
"keep_packages": [
  "Lcom/fasterxml/jackson/",
  "Lgenerated_rootmodule/",
  "Lsecondary/",
  "Lcom/google/dexmaker/mockito/",
  "Lcom/facebook/testing",
  "Lcom/facebook/react/",
  "Linjector_autorequire_modules/"
],
"no_optimizations_annotations": [
  "Lcom/facebook/soloader/DoNotOptimize;",
  "Lcom/facebook/annotations/DoNotOptimize;"
],
"emit_locator_strings": true,
"stats_output": "/tmp/stats.txt",
"method_mapping": "/tmp/method_mapping.txt",
"method_move_map" : "/tmp/redex-moved-methods-map.txt"
}
