---
# NOTE there must be no spaces before the '-', so put the comma last.
InheritParentConfig: true
Checks: '
bugprone-*,
-bugprone-easily-swappable-parameters,
-bugprone-too-small-loop-variable,
-bugprone-unchecked-optional-access,
bugprone-macro-parentheses,
cppcoreguidelines-pro-type-cstyle-cast,
cppcoreguidelines-pro-type-static-cast-downcast,
cppcoreguidelines-rvalue-reference-param-not-moved,
modernize-make-shared,
modernize-pass-by-value,
performance-*,
-performance-inefficient-string-concatenation,
readability-braces-around-statements,
readability-const-return-type,
readability-container-size-empty,
readability-implicit-bool-conversion,
readability-inconsistent-declaration-parameter-name,
readability-qualified-auto,
readability-redundant-*,
readability-simplify-boolean-expr,
misc-definitions-in-headers,
misc-unused-parameters,
modernize-use-emplace,modernize-use-override,modernize-use-using,
google-explicit-constructor,hicpp-explicit-conversions,
llvm-namespace-comment,
'
WarningsAsErrors: 'performance-*,readability-*,misc-definitions-in-headers,modernize-use-*,llvm-namespace-comment,google-explicit-constructor,hicpp-explicit-conversions,modernize-make-shared,bugprone-*'
CheckOptions:
  - key: modernize-use-override.IgnoreDestructors
    value: 1
  - key: bugprone-signed-char-misuse.CharTypdefsToIgnore
    value: "int8_t"
