Checks: '-*,modernize-make-shared,performance-unnecessary-copy-initialization,performance-for-range-copy,performance-faster-string-find,performance-unnecessary-value-param,performance-move-const-arg'
WarningsAsErrors: '*'
