---
# NOTE there must be no spaces before the '-', so put the comma last.
InheritParentConfig: true
Checks: '
bugprone-*,
-bugprone-branch-clone,
-bugprone-implicit-widening-of-multiplication-result,
-bugprone-narrowing-conversions,
-bugprone-easily-swappable-parameters,
-bugprone-too-small-loop-variable,
-bugprone-unchecked-optional-access,
bugprone-macro-parentheses,
modernize-make-shared,
performance-*,
-performance-inefficient-string-concatenation,
readability-const-return-type,
readability-container-size-empty,
readability-inconsistent-declaration-parameter-name,
readability-redundant-*,
misc-definitions-in-headers,
modernize-use-override,modernize-use-using,
google-explicit-constructor,hicpp-explicit-conversions,
llvm-namespace-comment,
-facebook-hte-NullableReturn,
'
WarningsAsErrors: 'performance-*,readability-*,misc-definitions-in-headers,modernize-use-*,llvm-namespace-comment,google-explicit-constructor,hicpp-explicit-conversions,modernize-make-shared,bugprone-*'
CheckOptions:
  - key: modernize-use-override.IgnoreDestructors
    value: 1
