.DS_Store

**/*.o
**/*.lo
**/*.la
**/.deps
**/.dirstamp
**/*~
**/Makefile
**/Makefile.in

/.libs
/aclocal.m4
/autom4te.cache
/cmd.txt
/compile
/config.*
/configure
/depcomp
/install-sh
/libredex.la
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/protores/
/redex
/redex-all
/redex.tar.gz
/redexdump
/stamp-h1
/test/.libs/
/test/googletest-release-*/
/test/gtest-*.zip
/test/setup_gtest
/test/**/*.log
/test/**/*.trs
/test/**/*_test
/test/**/*.jar
/test/**/*.dex
/test/**/*.tmp/
/test-driver
/.vs/
/build-cmake/
redex-src-strings-map.txt
pyredex/__pycache__

website/translated_docs
website/build/
website/yarn.lock
website/node_modules
website/i18n/*
website/package-lock.json

package-lock.json
yarn.lock



# IDE specific
.idea/

cmake-build-*/