**/*.o
**/*.lo
**/.deps
**/.dirstamp
**/*~
**/Makefile
**/Makefile.in

/.libs
/aclocal.m4
/autom4te.cache
/cmd.txt
/compile
/config.*
/configure
/depcomp
/install-sh
/libredex.la
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/redex
/redex-all
/redex.tar.gz
/redexdump
/stamp-h1
/test-driver
/.vs/
/build-cmake/
