command alias dumpcfg expr dumpcfg()
command alias dumpir expr dumpir()
command regex dumpblock 's/(.+)/expr dumpblock(%1)/'
command regex setdumpfile 's/(.+)/expr setdumpfile(%1)/'
command regex dumpfilemode 's/(.+)/expr setdumpfilemode(%1)/'
