version: 2.1

# If you only want circle to run on direct commits to main, you can uncomment this out
# and uncomment the filters: *filter-only-main down below too
#
aliases:
 - &filter-only-main
   branches:
     only:
       - main
 - &filter-not-gh-pages-not-main
   branches:
     ignore:
       - gh-pages
       - main

orbs:
  win: circleci/windows@2.2.0

commands:
  # Setup container.
  debian-based-image-build-setup:
    parameters:
      mode_32:
        type: boolean
        default: false
      install_clang:
        type: boolean
        default: false
      install_clang_llvm_org:
        type: integer
        default: -1  # Off
    steps:
      - run:
          name: Update Apt Data
          command: |
            sudo apt-get update || ( apt-get update && apt-get install --no-install-recommends -y sudo ; )
      - when:
          condition: << parameters.mode_32 >>
          steps:
            - run:
                name: Add 32-bit Arch
                command: |
                  sudo dpkg --add-architecture i386 && sudo apt-get update
      - when:
          condition: << parameters.install_clang >>
          steps:
            - run:
                name: Install Clang
                command: |
                  sudo apt-get install -y --no-install-recommends clang
      # Clang from llvm.org
      #
      # add-apt-repository in the install script needs to be rewritten:
      #   * -y to not ask for input
      #   * seemingly the first run does not insert the source, so need to run twice
      #
      # We symlink the clang-X binary, there is no update-alternatives it seems.
      # For simplicity assume there is only one version installed.
      #
      # 1. 0 = default version
      - when:
          condition:
            equal: [0, << parameters.install_clang_llvm_org >> ]
          steps:
            - run:
                name: Install Clang (apt.llvm.org)
                # Link the numbered version so it's easier to use.
                command: |
                  sudo apt-get install -y --no-install-recommends lsb-release wget software-properties-common gnupg
                  sudo /bin/bash -c "$(wget -O - https://apt.llvm.org/llvm.sh | sed -e 's/^add-apt-repository.*$/& -y\n& -y/')"
                  ls /usr/bin/clang*
                  sudo ln -s /usr/bin/clang-?? /usr/bin/clang
                  sudo ln -s /usr/bin/clang++-?? /usr/bin/clang++
      # 2. >0 = specific version
      - when:
          condition:
            and:
              - not:
                  equal: [-1, << parameters.install_clang_llvm_org >> ]
              - not:
                  equal: [0, << parameters.install_clang_llvm_org >> ]
          steps:
            - run:
                name: Install Clang (apt.llvm.org)
                # Link the numbered version so it's easier to use.
                command: |
                  sudo apt-get install -y --no-install-recommends lsb-release wget software-properties-common gnupg
                  sudo /bin/bash -c "$(wget -O - https://apt.llvm.org/llvm.sh | sed -e 's/^add-apt-repository.*$/& -y\n& -y/')" "llvm.sh" << parameters.install_clang_llvm_org >>
                  ls /usr/bin/clang*
                  sudo ln -s /usr/bin/clang-?? /usr/bin/clang
                  sudo ln -s /usr/bin/clang++-?? /usr/bin/clang++

  # Setup. Includes boost.
  base-build-setup:
    parameters:
      save_boost_cache:
        type: boolean
        default: false
      setup_toolchain_extra:
        type: string
        default: ""
    steps:
      # It is OK to generically restore boost, even if it is not used.
      - restore_cache:
          keys:
            - boost-1-71-0-v5
      # Temporarily to bypass jfrog downtime.
      - restore_cache:
          keys:
            - boost-1-71-0-v4
      - restore_cache:
          keys:
            - protobuf3-v3
      - run:
          name: Setup
          environment:
            TOOLCHAIN_TMP: /tmp/toolchain
          command: |
            sudo -E ./setup_oss_toolchain.sh << parameters.setup_toolchain_extra >>
      # Only save the cache when asked, e.g., hopefully when it was populated.
      - when:
          condition: << parameters.save_boost_cache >>
          steps:
            - save_cache:
                paths:
                  - /tmp/toolchain/dl_cache/boost_cache
                key: boost-1-71-0-v5
            - save_cache:
                paths:
                  - /tmp/toolchain/dl_cache/protobuf
                key: protobuf3-v3

  # For testing, need additional dependencies not provided by the image.

  # Version where dx is available as a package. May remove this eventually.
  test-build-setup-no-sdk:
    steps:
      - run:
          name: Setup for tests
          command: |
            sudo apt-get install -y --no-install-recommends dalvik-exchange default-jdk-headless
            sudo ln -s /usr/bin/dalvik-exchange /usr/local/bin/dx

  # Special version of the above to work around Debian Testing package issues.
  #
  # Note: CircleCI does not allow to drop existing caches (in case they are
  #       outdated, for example). The expectation is that the "cache key"
  #       changes, for example via the checksum of a dependency file.
  #
  #       This does not apply to our setup. So we use an environment variable
  #       defined in the project settings. If a cache needs to be invalidated,
  #       update the variable value.
  #
  #       However, at the same time the project settings values cannot be used
  #       directly. So use a file as an intermediate.
  #
  #       See:
  #       * [https://support.circleci.com/hc/en-us/articles/115015426888-Clear-project-dependency-cache]
  #       * [https://devops.stackexchange.com/questions/9147/how-to-get-other-than-no-value-when-interpolating-environment-some-var]
  test-build-setup-sdk:
    steps:
      - run:
          name: Setup for tests (Deb Testing)
          command: |
            sudo apt-get install -y --no-install-recommends default-jdk-headless

      - run:
          name: Create cache key file
          command: |
            echo "Cache key is: ${CACHE_VERSION}"
            echo "${CACHE_VERSION}" > cache_version.rev

      - restore_cache:
          keys:
            - android-build-tools-{{ checksum "cache_version.rev" }}

      # We have to emulate cache behavior. Skip downloads if files exist.
      - run:
          name: Check/Install (SDK)
          command: |
            if [ -e ~/sdk/build-tools/25.0.3/dx ] ; then
              echo "Found SDK."
              exit 0
            fi
            echo "SDK missing, downloading..."
            rm -rf ~/sdk 2>/dev/null
            wget https://dl.google.com/android/repository/commandlinetools-linux-6609375_latest.zip
            mkdir -p ~/sdk/cmdline-tools
            unzip commandlinetools-linux-6609375_latest.zip -d ~/sdk/cmdline-tools/
            pushd ~/sdk/cmdline-tools/tools/bin >/dev/null
            echo 'y' | ./sdkmanager --install 'build-tools;25.0.3'
            popd >/dev/null

      - run:
          name: Check/Install (Symlink)
          command: |
            if [ -L /usr/local/bin/dx ] ; then
              echo "Found symlink."
              exit 0
            fi
            echo "Adding symlink..."
            sudo ln -s ~/sdk/build-tools/25.0.3/dx /usr/local/bin/dx

      - save_cache:
          paths:
            - ~/sdk
          key: android-build-tools-{{ checksum "cache_version.rev" }}

  test-build-setup:
    parameters:
      use_sdk:
        type: boolean
        default: true
    steps:
      - when:
          condition: << parameters.use_sdk >>
          steps:
            - test-build-setup-sdk
      - when:
          condition:
            not: << parameters.use_sdk >>
          steps:
            - test-build-setup-no-sdk

  # Level of indirection because there seems to be no way to set parameters
  # in the steps.
  setup-build-and-test-w-make-impl:
    description: "Prepare, build and test ReDex"
    parameters:
      setup_toolchain_extra:
        type: string
        default: ""
      configure_extra:
        default: ""
        type: string
      save_boost_cache:
        type: boolean
        default: false
      run_tests:
        type: boolean
        default: true
      use_sdk:
        type: boolean
        default: true
    steps:
      - base-build-setup:
          save_boost_cache: << parameters.save_boost_cache >>
          setup_toolchain_extra: << parameters.setup_toolchain_extra >>

      - test-build-setup:
          use_sdk: << parameters.use_sdk >>

      - run:
          name: Configure
          command: |
            autoreconf -ivf
            ./configure --enable-protobuf << parameters.configure_extra >>

      - run:
          name: Build
          # The old Travis limit. Hopefully ensures GCC does
          # not die.
          command: |
            make -j4 V=0

      - run:
          name: Build tests
          command: |
            make -j4 check TESTS= V=0

      - when:
          condition: << parameters.run_tests >>
          steps:
            - run:
                name: Run tests
                command: |
                  mkdir -p /tmp/test-results
                  export GTEST_OUTPUT=xml:/tmp/test-results/
                  make -j4 check V=0
            - store_test_results:
                path: /tmp/test-results

  setup-build-and-test-w-make:
    description: "Prepare, build and test ReDex"
    parameters:
      save_boost_cache:
        type: boolean
        default: false
      # Whether to build 32-bit.
      mode_32:
        type: boolean
        default: false
      # Download DX from the Android SDK.
      use_sdk:
        type: boolean
        default: true
    steps:
      - when:
          condition: << parameters.mode_32 >>
          steps:
            - setup-build-and-test-w-make-impl:
                save_boost_cache: << parameters.save_boost_cache >>
                use_sdk: << parameters.use_sdk >>
                setup_toolchain_extra: "32"
                # Would be nice to properly use environment, but that's only at
                # the jobs or run level.
                configure_extra: "--host=i686-linux-gnu CFLAGS=-m32 CXXFLAGS=-m32 LDFLAGS=-m32"
                # Some tests segfault in 32-bit mode.
                run_tests: false
      # "else" not supported.
      - when:
          condition:
            not: << parameters.mode_32 >>
          steps:
            - setup-build-and-test-w-make-impl:
                save_boost_cache: << parameters.save_boost_cache >>
                use_sdk: << parameters.use_sdk >>

  build_debian:
    description: "(Modern) Debian build and test"
    parameters:
      save_boost_cache:
        type: boolean
        default: false
      install_clang:
        type: boolean
        default: false
      install_clang_llvm_org:
        type: integer
        default: -1
      mode_32:
        type: boolean
        default: false
      use_sdk:
        type: boolean
        default: true
    steps:
      - checkout
      - debian-based-image-build-setup:
          install_clang: << parameters.install_clang>>
          install_clang_llvm_org: << parameters.install_clang_llvm_org >>
          mode_32: << parameters.mode_32>>
      - setup-build-and-test-w-make:
          save_boost_cache: << parameters.save_boost_cache >>
          use_sdk: << parameters.use_sdk >>
          mode_32: << parameters.mode_32>>

  setup-build-and-test-windows:
    description: "Prepare, build and test ReDex on Windows with MSYS2"
    steps:
      - run:
          name: Install MSYS2
          shell: bash.exe
          command: choco install msys2 -y
      - run:
          name: Update MSYS2 package DB
          shell: c:/tools/msys64/msys2_shell.cmd -defterm -no-start -msys2 -full-path -here -c
          command: pacman -Syuu --noconfirm
      - run:
          name: Setup
          shell: c:/tools/msys64/msys2_shell.cmd -defterm -no-start -msys2 -full-path -here -c
          command: pacman -S --needed --noconfirm make mingw-w64-x86_64-boost mingw-w64-x86_64-cmake mingw-w64-x86_64-gcc mingw-w64-x86_64-jsoncpp mingw-w64-x86_64-make zip unzip mingw-w64-x86_64-python

      - run:
          name: Build
          shell: c:/tools/msys64/msys2_shell.cmd -defterm -no-start -mingw64 -full-path -here -c
          command: mkdir build && cd build && cmake -G "MSYS Makefiles" .. && make -j 4 V=0

      - run:
          name: Minimal Test
          # Using bash because somehow piping does not seem to work correctly with cmd.
          shell: bash.exe
          command: 'build/redex-all --show-passes | grep -E "Registered passes: [1-9][0-9]*"'

      - run:
          name: Package
          shell: c:/tools/msys64/msys2_shell.cmd -defterm -no-start -mingw64 -full-path -here -c
          command: cd build && make -j 4 package V=0

jobs:
  ##########
  # UBUNTU #
  ##########

  build-18_04:
    docker:
      - image: circleci/buildpack-deps:bionic
    # GCC is hungry.
    resource_class: large
    steps:
      - build_debian:
          use_sdk: false
          save_boost_cache: true

  build-20_04:
    docker:
      - image: circleci/buildpack-deps:focal
    # GCC is hungry.
    resource_class: large
    steps:
      - build_debian

  build-22_04:
    docker:
      - image: cimg/base:current-22.04
    # GCC is hungry.
    resource_class: large
    steps:
      - build_debian

  ##########
  # DEBIAN #
  ##########

  # Should be Debian 10 at time of writing.
  build-deb_oldoldstable:
    docker:
      - image: buildpack-deps:oldoldstable-scm
    # GCC is hungry.
    resource_class: large
    steps:
      - build_debian:
          use_sdk: false

  build-deb_stable:
    docker:
      - image: buildpack-deps:stable-scm
    # GCC is hungry.
    resource_class: large
    steps:
      - build_debian

  build-deb_stable-w-clang:
    docker:
      - image: buildpack-deps:stable-scm
    resource_class: large
    environment:
      CC: clang
      CXX: clang++
    steps:
      - build_debian:
          install_clang: true

  build-deb_stable-32:
    docker:
      - image: buildpack-deps:stable-scm
    # GCC is hungry.
    resource_class: large
    steps:
      - build_debian:
          mode_32: true

  build-deb_stable-w-clang-llvm-org:
    docker:
      - image: buildpack-deps:stable-scm
    resource_class: large
    environment:
      CC: clang
      CXX: clang++
    parameters:
      clang_version:
        type: integer
        default: 0
    steps:
      - build_debian:
          install_clang_llvm_org: << parameters.clang_version>>

  # Note: buildpack-deps:testing is the same as stable at time of writing,
  #       so jump to unstable directly.

  build-deb_unstable:
    docker:
      - image: buildpack-deps:unstable-scm
    # GCC is hungry.
    resource_class: large
    steps:
      - build_debian

  build-deb_unstable-w-clang:
    docker:
      - image: buildpack-deps:unstable-scm
    resource_class: large
    environment:
      CC: clang
      CXX: clang++
    steps:
      - build_debian:
          install_clang: true

  build-deb_unstable-32:
    docker:
      - image: buildpack-deps:unstable-scm
    # GCC is hungry.
    resource_class: large
    steps:
      - build_debian:
          mode_32: true

  ###########
  # WINDOWS #
  ###########

  build-windows:
    executor:
      name: win/default
      # GCC is hungry.
      size: "large"

    steps:
      - checkout
      - setup-build-and-test-windows

  build-windows-artifacts:
    executor:
      name: win/default
      # GCC is hungry.
      size: "large"

    steps:
      - checkout
      - setup-build-and-test-windows

      # Artifacts syntax does not allow wildcards. Copy result (without knowing details)
      # into a temp dir instead.
      - run:
          name: Copy package for CircleCI
          shell: c:/tools/msys64/msys2_shell.cmd -defterm -no-start -mingw64 -full-path -here -c
          command: mkdir artifacts && mv build/Redex*.zip artifacts/

      - store_artifacts:
          path: .\artifacts

# TODO: branch filtering is deprecated, but workflow filtering documentation
#       for 2.1 does not exist and 2.0 requires a schedule.

workflows:
  version: 2.1
  build_main:
    jobs:
      # Oldest officially supported Ubuntu build. Will go away soon.
      - build-18_04:
          filters: *filter-only-main
      # Current Ubuntu LTS.
      - build-20_04:
          filters: *filter-only-main
      # Oldest officially supported Debian build.
      - build-deb_oldoldstable:
          filters: *filter-only-main
      # For better format strings checking.
      - build-deb_stable-32:
          filters: *filter-only-main
      # For newer compilers.
      - build-deb_unstable:
          filters: *filter-only-main
      - build-deb_unstable-w-clang:
          filters: *filter-only-main
      # At least one Clang check.
      - build-deb_stable-w-clang-llvm-org:
          filters: *filter-only-main
      # For compatibility.
      - build-windows:
          filters: *filter-only-main

  build_other:
    jobs:
      # Note: only filter gh-pages for 'build_other' so that pull
      #       requests/stable get checked.
      - build-18_04:
          filters: *filter-not-gh-pages-not-main
      - build-20_04:
          filters: *filter-not-gh-pages-not-main
      - build-deb_stable:
          filters: *filter-not-gh-pages-not-main
      - build-deb_stable-32:
          filters: *filter-not-gh-pages-not-main
      # Only use the default (supposed stable) version on diffs.
      - build-deb_stable-w-clang-llvm-org:
          filters: *filter-not-gh-pages-not-main
      - build-deb_oldoldstable:
          filters: *filter-not-gh-pages-not-main
      - build-deb_unstable:
          filters: *filter-not-gh-pages-not-main
      - build-deb_unstable-w-clang:
          filters: *filter-not-gh-pages-not-main
      - build-deb_unstable-32:
          filters: *filter-not-gh-pages-not-main
      - build-windows:
          filters: *filter-not-gh-pages-not-main

  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters: *filter-only-main
    jobs:
      - build-18_04
      - build-20_04
      - build-22_04
      - build-deb_oldoldstable
      - build-deb_stable
      - build-deb_stable-w-clang
      - build-deb_stable-32
      - build-deb_unstable
      - build-deb_unstable-w-clang
      - build-deb_unstable-32
      - build-windows-artifacts
      # All llvm.org versions. Keep this up-to-date. Ignore the duplicate.
      - build-deb_stable-w-clang-llvm-org:
          matrix:
            parameters:
              clang_version: [0, 15, 16, 17]
