{
  "redex" : {
    "passes" : [
      "RemoveUnreachablePass",
      "StripDebugInfoPass",
      "AccessMarkingPass",
      "MethodDevirtualizationPass",
      "ReBindRefsPass",
      "BridgePass",
      "SynthPass",
      "FinalInlinePass",
      "DelSuperPass",
      "UnreferencedInterfacesPass",
      "SingleImplPass",
      "MethodInlinePass",
      "PeepholePass",
      "ConstantPropagationPass",
      "LocalDcePass",
      "AnnoKillPass",
      "DelInitPass",
      "RemoveUnreachablePass",
      "ReorderInterfacesPass",
      "RemoveEmptyClassesPass",
      "SingleImplPass",
      "InterDexPass",
      "RemoveGotosPass",
      "DedupBlocksPass",
      "RegAllocPass",
      "CopyPropagationPass",
      "LocalDcePass",
      "DedupBlocksPass"
    ]
  },
  "RegAllocPass" : {
    "live_range_splitting": "0"
  },
  "MethodInlinePass": {
    "throws": true,
    "multiple_callers": true,
    "no_inline_annos" : [
      "Lcom/fasterxml/jackson/databind/annotation/JsonDeserialize;"
    ],
    "black_list": [],
    "caller_black_list": []
  },
  "FinalInlinePass" : {
    "propagate_static_finals": true,
    "replace_encodable_clinits": true,
    "black_list_types" : []
  },
  "AnnoKillPass" : {
    "keep_annos": [
      "Landroid/view/ViewDebug$CapturedViewProperty;",
      "Landroid/view/ViewDebug$ExportedProperty;",
      "Landroid/webkit/JavascriptInterface;",
      "Landroid/widget/RemoteViews$RemoteView;",
      "Lcom/google/android/gms/common/annotation/KeepName;"
    ],
    "kill_annos" : [
      "Lcom/google/inject/BindingAnnotation;"
    ],
    "force_kill_annos" : [
      "Ldalvik/annotation/EnclosingClass;",
      "Ldalvik/annotation/EnclosingMethod;",
      "Ldalvik/annotation/InnerClass;",
      "Ldalvik/annotation/MemberClasses;",
      "Ldalvik/annotation/Throws;"
    ]
  },
  "ConstantPropagationPassV3" : {
    "blacklist": [],
    "replace_moves_with_consts": true,
    "fold_arithmetic": true
  },
  "CopyPropagationPass" : {
    "eliminate_const_literals": false,
    "full_method_analysis": true
  },
  "MethodDevirtualizationPass" : {
    "staticize_vmethods_not_using_this" : true,
    "staticize_dmethods_not_using_this" : true
  },
  "StripDebugInfoPass" : {
    "drop_all_dbg_info" : "0",
    "drop_local_variables" : "1",
    "drop_line_numbers" : "0",
    "drop_src_files" : "1",
    "use_whitelist" : "0",
    "cls_whitelist" : [],
    "method_whitelist" : [],
    "drop_prologue_end" : "1",
    "drop_epilogue_begin" : "1",
    "drop_all_dbg_info_if_empty" : "1"
  },
  "PeepholePass" : {
    "disabled_peepholes": [
      "Replace_PutGet",
      "Replace_PutGetWide",
      "Replace_PutGetObject",
      "Replace_PutGetShort",
      "Replace_PutGetChar",
      "Replace_PutGetByte",
      "Replace_PutGetBoolean"
    ]
  },
  "keep_packages": [
    "Lcom/fasterxml/jackson/",
    "Lcom/google/dexmaker/mockito/"
  ],
  "keep_annotations": [
    "Lcom/google/common/annotations/VisibleForTesting;"
  ],
  "proguard_map_output": "redex_pg_mapping.txt",
  "stats_output": "stats.txt",
  "bytecode_offset_map": "bytecode_offset_map.txt",
  "line_number_map_v2": "redex-line-number-map-v2",
  "method_move_map" : "redex-moved-methods-map.txt",
  "string_sort_mode" : "class_order",
  "bytecode_sort_mode" : "class_order",
  "ir_type_checker": {
    "run_after_each_pass" : false,
    "polymorphic_constants" : false,
    "verify_moves" : false
  }
}
