{
  "redex" : {
    "passes" : [
      "RemoveUnreachablePass",
      "StripDebugInfoPass",
      "AccessMarkingPass",
      "MethodDevirtualizationPass",
      "ReBindRefsPass",
      "ResultPropagationPass",
      "BridgeSynthInlinePass",
      "FinalInlinePass",
      "DelSuperPass",
      "UnreferencedInterfacesPass",
      "SingleImplPass",
      "CommonSubexpressionEliminationPass", # Run once just before MethodInlinePass
      "MethodInlinePass",
      "PeepholePass",
      "ConstantPropagationPass",
      "LocalDcePass",
      "AnnoKillPass",
      "DelInitPass",
      "RemoveUnreachablePass",
      "ReorderInterfacesDeclPass",
      "RemoveEmptyClassesPass",
      "SingleImplPass",
      "InterDexPass",
      "CommonSubexpressionEliminationPass", # Run a second time after all method inlining is done
      "DedupBlocksPass",
      "UpCodeMotionPass",
      "RegAllocPass",
      "CopyPropagationPass",
      "LocalDcePass",
      "DedupBlocksPass",
      "ReduceGotosPass" # This pass should come at the very end, after all other code transformations that might add gotos
    ]
  },
  "RegAllocPass" : {
    "live_range_splitting": false
  },
  "inliner": {
    "throws": true,
    "multiple_callers": true,
    "no_inline_annos" : [
      "Lcom/fasterxml/jackson/databind/annotation/JsonDeserialize;"
    ],
    "blocklist": [],
    "caller_blocklist": []
  },
  "FinalInlinePass" : {
    "propagate_static_finals": true,
    "replace_encodable_clinits": true,
    "blocklist_types" : []
  },
  "AnnoKillPass" : {
    "keep_annos": [
      "Landroid/view/ViewDebug$CapturedViewProperty;",
      "Landroid/view/ViewDebug$ExportedProperty;",
      "Landroid/webkit/JavascriptInterface;",
      "Landroid/widget/RemoteViews$RemoteView;",
      "Lcom/google/android/gms/common/annotation/KeepName;"
    ],
    "kill_annos" : [
      "Lcom/google/inject/BindingAnnotation;"
    ],
    "force_kill_annos" : [
      "Ldalvik/annotation/EnclosingClass;",
      "Ldalvik/annotation/EnclosingMethod;",
      "Ldalvik/annotation/InnerClass;",
      "Ldalvik/annotation/MemberClasses;",
      "Ldalvik/annotation/Throws;"
    ]
  },
  "CopyPropagationPass" : {
    "eliminate_const_literals": false,
    "full_method_analysis": true
  },
  "MethodDevirtualizationPass" : {
    "staticize_vmethods_not_using_this" : true,
    "staticize_dmethods_not_using_this" : true
  },
  "StripDebugInfoPass" : {
    "drop_all_dbg_info" : false,
    "drop_local_variables" : true,
    "drop_line_numbers" : false,
    "drop_src_files" : true,
    "use_allowlist" : false,
    "cls_allowlist" : [],
    "method_allowlist" : [],
    "drop_prologue_end" : true,
    "drop_epilogue_begin" : true,
    "drop_all_dbg_info_if_empty" : true
  },
  "PeepholePass" : {
    "disabled_peepholes": [
      "Replace_PutGet",
      "Replace_PutGetWide",
      "Replace_PutGetObject",
      "Replace_PutGetShort",
      "Replace_PutGetChar",
      "Replace_PutGetByte",
      "Replace_PutGetBoolean"
    ]
  },
  "keep_packages": [
    "Lcom/fasterxml/jackson/",
    "Lcom/google/dexmaker/mockito/"
  ],
  "debug_info_kind": "no_custom_symbolication",
  "method_move_map" : "redex-moved-methods-map.txt",
  "string_sort_mode" : "class_order",
  "bytecode_sort_mode" : ["method_similarity_order", "class_order"],
  "ir_type_checker": {
    "run_after_each_pass" : false,
    "verify_moves" : false
  }
}
