{
  "redex" : {
    "passes" : [
      "ReBindRefsPass",
      "BridgePass",
      "SynthPass",
      "FinalInlinePass",
      "SimpleInlinePass",
      "PeepholePass",
      "ConstantPropagationPassV3",
      "RedundantMoveEliminationPass",
      "LocalDcePass",
      "RemoveGotosPass",
      "DelSuperPass",
      "SingleImplPass",
      "StaticReloPass",
      "ReorderInterfacesPass",
      "RemoveEmptyClassesPass",
      "ShortenSrcStringsPass",
      "InstructionSelectionPass"
    ]
  },
  "SimpleInlinePass": {
    "use_liveness" : true,
    "throws": true,
    "multiple_callers": true
  },
  "FinalInlinePass" : {
    "propagate_static_finals": true,
    "replace_encodable_clinits": true,
    "inline_string_fields": true,
    "inline_wide_fields": true
  },
  "RedundantMoveEliminationPass" : {
    "eliminate_const_literals": false,
    "full_method_analysis": true
  }
}
