{
  "redex" : {
    "passes" : [
      "ReBindRefsPass",
      "BridgePass",
      "SynthPass",
      "FinalInlinePass",
      "DelSuperPass",
      "SimpleInlinePass",
      "PeepholePass",
      "ConstantPropagationPass",
      "LocalDcePass",
      "RemoveUnreachablePass",
      "RemoveGotosPass",
      "DedupBlocksPass",
      "SingleImplPass",
      "ReorderInterfacesPass",
      "RemoveEmptyClassesPass",
      "ShortenSrcStringsPass",
      "RegAllocPass",
      "CopyPropagationPass",
      "LocalDcePass"
    ]
  },
  "FinalInlinePass" : {
    "propagate_static_finals": true,
    "replace_encodable_clinits": true
  },
  "SimpleInlinePass": {
    "throws": true,
    "multiple_callers": true,
    "black_list": []
  },
  "ConstantPropagationPassV3" : {
    "blacklist": [],
    "replace_moves_with_consts": true,
    "fold_arithmetic": true
  },
  "RegAllocPass" : {
    "live_range_splitting": "0"
  },
  "CopyPropagationPass" : {
    "eliminate_const_literals": false,
    "full_method_analysis": true
  },
  "PeepholePass" : {
    "disabled_peepholes": [
      "Replace_PutGet",
      "Replace_PutGetWide",
      "Replace_PutGetObject",
      "Replace_PutGetShort",
      "Replace_PutGetChar",
      "Replace_PutGetByte",
      "Replace_PutGetBoolean"
    ]
  },
  "keep_packages": [
    "Lcom/fasterxml/jackson/",
    "Lcom/google/dexmaker/mockito/"
  ],
  "keep_annotations": [
    "Lcom/google/common/annotations/VisibleForTesting;"
  ],
  "proguard_map_output": "redex_pg_mapping.txt",
  "stats_output": "stats.txt",
  "bytecode_offset_map": "bytecode_offset_map.txt",
  "line_number_map_v2": "redex-line-number-map-v2",
  "method_move_map" : "redex-moved-methods-map.txt",
  "string_sort_mode" : "class_order",
  "bytecode_sort_mode" : "class_order",
  "ir_type_checker": {
    "run_after_each_pass" : false,
    "polymorphic_constants" : false,
    "verify_moves" : false
  }
}
