{
  "redex" : {
    "passes" : [
      "ReBindRefsPass",
      "BridgePass",
      "ResultPropagationPass", # Run after BridgePass to avoid pattern matching conflicts
      "FinalInlinePassV2",
      "DelSuperPass",
      "CommonSubexpressionEliminationPass", # Run once just before MethodInlinePass
      "MethodInlinePass",
      "PeepholePass",
      "ConstantPropagationPass",
      "LocalDcePass",
      "RemoveUnreachablePass",
      "RemoveGotosPass",
      "DedupBlocksPass",
      "UpCodeMotionPass",
      "SingleImplPass",
      "ReorderInterfacesDeclPass",
      "RemoveEmptyClassesPass",
      "ShortenSrcStringsPass",
      "CommonSubexpressionEliminationPass", # Run a second time after all method inlining is done
      "RegAllocPass",
      "CopyPropagationPass",
      "LocalDcePass",
      "ReduceGotosPass" # This pass should come at the very end, after all other code transformations that might add gotos
    ]
  },
  "FinalInlinePass" : {
    "propagate_static_finals": true,
    "replace_encodable_clinits": true
  },
  "MethodInlinePass": {
    "throws": true,
    "multiple_callers": true,
    "blocklist": []
  },
  "RegAllocPass" : {
    "live_range_splitting": false
  },
  "CopyPropagationPass" : {
    "eliminate_const_literals": false,
    "full_method_analysis": true
  },
  "PeepholePass" : {
    "disabled_peepholes": [
      "Replace_PutGet",
      "Replace_PutGetWide",
      "Replace_PutGetObject",
      "Replace_PutGetShort",
      "Replace_PutGetChar",
      "Replace_PutGetByte",
      "Replace_PutGetBoolean"
    ]
  },
  "keep_packages": [
    "Lcom/fasterxml/jackson/",
    "Lcom/google/dexmaker/mockito/"
  ],
  "debug_info_kind": "no_custom_symbolication",
  "method_move_map" : "redex-moved-methods-map.txt",
  "string_sort_mode" : "class_order",
  "bytecode_sort_mode" : ["method_similarity_order", "class_order"],
  "ir_type_checker": {
    "run_after_each_pass" : false,
    "verify_moves" : false
  }
}
