{
"redex" : {
  "passes" : [
    "SimpleInlinePass",
    "RegAllocPass"
  ]
},
"SimpleInlinePass": {
  "virtual" : 0,
  "no_inline_annos" : [
    "Lcom/fasterxml/jackson/databind/annotation/JsonDeserialize;",
    "Lcom/facebook/redexlinemap/NoInline;"
  ]
},
"keep_packages": [
  "Lcom/fasterxml/jackson/",
  "Lgenerated_rootmodule/",
  "Lsecondary/",
  "Lcom/google/dexmaker/mockito/",
  "Lcom/facebook/testing",
  "Linjector_autorequire_modules/"
],
"keep_annotations": [
  "Lcom/facebook/proguard/annotations/DoNotStrip;",
  "Lcom/facebook/common/internal/DoNotStrip;",
  "Lcom/google/common/annotations/VisibleForTesting;"
],
"no_optimizations_annotations": [
  "Lcom/facebook/soloader/DoNotOptimize;",
  "Lcom/facebook/annotations/DoNotOptimize;"
],
"emit_locator_strings": true,
"proguard_map": ""
}
