{
  "redex": {
    "passes": [
      "AppModuleUsagePass"
    ]
  },
  "AppModuleUsagePass": {
    "uses_app_module_annotation_descriptor": "LUsesAppModule;",
    "preexisting_violations_filepath" : "./fbandroid/native/redex-staging/test/integ/app_module_usage/app-module-violation-allow-list.csv"
  }
}
