{
  "redex": {
    "passes": [
      "InterDexPass"
    ],
  },
  "baseline_profile": {
    "default": {
      "deep_data_interaction_config": {
        "ColdStart": {
            "name": "ColdStart",
            "call_threshold": 1,
            "classes": true,
            "post_startup": true,
            "startup": true,
            "threshold": 20
        },
        "12345678": {
          "name": "Other",
        },
      },
      "oxygen_modules": true,
      "strip_classes": false,
      "use_redex_generated_profile": false,
    }
  },
  "InterDexPass": {
    "static_prune": false,
    "emit_canaries": true,
    "normal_primary_dex": true,
    "exclude_baseline_profile_classes": true
  }
}
