{
  "redex": {
    "passes": [
      "InterDexPass"
    ],
  },
  "baseline_profile": {
    "ColdStart": {
        "call_threshold": 1,
        "classes": true,
        "post_startup": true,
        "startup": true,
        "threshold": 20
    },
    "interactions": [
        ["ColdStart", "ColdStart"],
        ["12345678", "Other"],
    ],
    "options": {
        "oxygen_modules": true,
        "strip_classes": false,
        "use_redex_generated_profile": false,
        "include_betamap_20pct_coldstart": true
    },
  },
  "InterDexPass": {
    "static_prune": false,
    "emit_canaries": true,
    "normal_primary_dex": true,
    "exclude_baseline_profile_classes": true
  }
}
