{
  "redex": {
    "passes": [
      "ClinitBatchingPass"
    ]
  },
  "baseline_profile": {
    "default": {
      "deep_data_interaction_config": {
        "ColdStart": {
          "name": "ColdStart",
          "call_threshold": 1,
          "classes": true,
          "post_startup": false,
          "startup": true,
          "threshold": 20
        }
      },
      "oxygen_modules": false,
      "strip_classes": false,
      "use_redex_generated_profile": false
    }
  },
  "ClinitBatchingPass": {
    "interaction_pattern": "ColdStart",
    "orchestrator_annotation": "Lcom/facebook/redextest/annotation/GenerateStaticInitBatch;"
  }
}
