{
"redex" : {
  "passes" : [
    "InsertDebugInfoPass",
    "MethodInlinePass",
    "InstructionSequenceOutlinerPass",
    "RegAllocPass"
  ]
},
"inliner": {
  "virtual" : 0,
  "no_inline_annos" : [
    "Lcom/fasterxml/jackson/databind/annotation/JsonDeserialize;",
    "Lcom/facebook/redexlinemap/NoInline;"
  ],
  "force_inline_annos" : [
    "Lcom/facebook/redexlinemap/ForceInline;"
  ],
  "force_inline_prefixes" : [
    "Lkotlin/jvm/internal/Intrinsics;.checkNotNull"
  ]
},
"InstructionSequenceOutlinerPass": {
  "outline_from_primary_dex": true,
  "outline_blocklist_prefixes": [
    "Lcom/facebook/redexlinemap/InlineTestCodeKt"
  ]
},
"keep_packages": [
  "Lcom/fasterxml/jackson/",
  "Lgenerated_rootmodule/",
  "Lsecondary/",
  "Lcom/google/dexmaker/mockito/",
  "Lcom/facebook/testing",
  "Linjector_autorequire_modules/"
],
"no_optimizations_annotations": [
  "Lcom/facebook/soloader/DoNotOptimize;",
  "Lcom/facebook/annotations/DoNotOptimize;"
],
"debug_info_kind": "iodi"
}
