name: facebook/redex/build_and_test
on:
  workflow_call
env:
  CACHE_VERSION: xxxxx1
jobs:
  linux-gcc:
    name: Linux GCC - ${{ matrix.os }} - ${{ matrix.build_arch }}
    runs-on: 4-core-ubuntu
    container: ${{ matrix.os }}
    strategy:
      matrix:
        os:
        - "debian:11"
        - "debian:12"
        - "ubuntu:22.04"
        - "ubuntu:24.04"
        build_arch: ["x86_64"]
        include:
        - os: debian:12
          build_arch: "x86"
    steps:
    - name: Show OS info
      run: cat /etc/os-release
    - name: Install prerequisites for checking out the repo
      run: apt-get update && apt-get install -y --no-install-recommends ca-certificates git-core
    - uses: actions/checkout@v4.1.1
    - uses: "./.github/actions/prepare_debian"
    - uses: ./.github/actions/setup-build-and-test-w-make
      with:
        save_boost_cache: false
        mode_32: ${{ matrix.build_arch == 'x86' }}
        job_name: Linux GCC - ${{ matrix.os }} - ${{ matrix.build_arch }}

  build-deb_stable-w-clang-llvm-org:
    runs-on: 4-core-ubuntu
    env:
      CC: clang
      CXX: clang++
    strategy:
      matrix:
        clang_version:
        # Test 3 clang versions, counting back from the default clang version
        # provided by apt.llvm.org.
        # We intentionally don't explicitly spell out all versions, so that 0
        # will always track the default from apt.llvm.org (usually the latest
        # stable clang).
        - 0  # At time of edit 20.
        - 19
        - 18
    steps:
    - uses: actions/checkout@v4.1.1
    - uses: "./.github/actions/prepare_debian"
      with:
        install_clang_llvm_org: "${{ matrix.clang_version }}"
    - uses: ./.github/actions/setup-build-and-test-w-make
      with:
        save_boost_cache: false
        mode_32: false
        job_name: "ubuntu_22_clang_upstream-${{ matrix.clang_version }}"

  build-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4.1.1
    - uses: "./.github/actions/setup-build-and-test-windows"
